<h3><%= @shoe.name %></h3><br>
<h5><%= @shoe.brand %></h5><br>
<h5><%= @shoe.color %></h5><br>

<!--<form method="post" action="/tweets/<%= @tweet.id %>/delete"> -->
<!--<input id="hidden" type="hidden" name="_method" value="DELETE"> -->
<!--<input type="submit" value="Delete Tweet">-->
<!--</form>-->

<!--<a href="/tweets/<%= @tweet.id %>/edit">Edit Tweet</a>-->